<div class="otp-container">
  <div class="card">
    <div class="text-center">
      <h1>OTP Verification</h1>
      <h6>Enter the OTP sent to your email</h6>
    </div>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
  <div class="mb-3 input-group">
    <label for="otp" class="form-label">Enter OTP</label>
    <input
      id="otp"
      type="text"
      class="form-control"
      formControlName="otp"
      placeholder="Enter OTP"
      autocomplete="off"
    />
    <div *ngIf="otp?.invalid && otp?.touched" class="form-text text-warning">
      <div *ngIf="otp?.errors?.['required']">OTP is required.</div>
      <div *ngIf="otp?.errors?.['pattern']">Enter a valid 6-digit OTP.</div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mb-2 primary-btn"
    [disabled]="otpForm.invalid || isSubmitting"
  >
    <span *ngIf="isSubmitting">Verifying OTP...</span>
    <span *ngIf="!isSubmitting">Submit OTP</span>
  </button>

  <div *ngIf="error" class="error-message">{{ error }}</div>
  <div *ngIf="success" class="success-message">{{ success }}</div>
</form>

  </div>
</div>
